:root {
    --dark-background: #070718;
    --primary-color:  #DB060F;
    --light-color: #cbcbcb;
    --text-family:  'Open Sans', sans-serif;
}


*{
    

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url("./assets/20474323.jpeg");
    background-size: 100%;
    overflow-x: hidden;
    
    
}
 
ul li {
    list-style: none;
    padding-left: 50px;
    margin-bottom: 20px;
    border-left: 5px solid transparent;
    
   
   
    
}
ul li:hover {
    transition: all 0.4s ease-in-out;
    border-left: 5px solid var(--primary-color);
    

}
ul li:active {
    transition: all 0.4s ease-in-out;
    border-left: 5px solid var(--primary-color);
}
ul li:hover a{
    transition: all 0.4s ease-in-out;
    font-weight: bold;
    color: white;
}

ul li:hover .goTo {
    visibility: visible ;
    transition: all 0.4s ease-in-out;
    opacity: 1;
    
}
ul li:hover .notification {
    visibility: hidden;
}
ul li a {
    list-style: none;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    color: #b8b8b8;
    font-size: 16px;
    display: flex;
    width: 100%;
    
}
.goTo {
    position: absolute;
    right: 30px;
    visibility: hidden;
    transition: all 0.1s ease-in-out;
    opacity: 0;
}
 
p {
    font-family: 'Open Sans', sans-serif;
    color: #cbcbcb;
    font-size: 18px;
}

.main-container{
    width: 100%;
    height: 100vh;
}

.sideBar{
    width: 350px;
    height: 100vh;
    display: grid;
    border: 1px solid rgba(214, 214, 214, 0.37);
    padding-right: 30px;
    backdrop-filter: blur(18px);
    -webkit-backdrop-filter: blur(18px);
    border-radius: 10px;
    position: fixed;
  
}
.logo{
    margin-top: 50px;
    display: flex;
    margin-bottom: 30px;
    
}
.logo a {
    text-decoration: none;
}
.logo  a p {
    font-family: 'Bebas Neue', cursive;;
    color: white;
    font-size: 36px;
    padding-left: 50px;
}
.logo span {
    color:white;
    font-size: 30px;
    position: absolute;
    right: 30px;
}
.menu  p {
 margin-bottom: 10px;
 padding-left: 50px;
}
.category  p {
    margin-bottom: 10px;
    padding-left: 50px;
   }
   .general  p {
    margin-bottom: 10px;
    padding-left: 50px;
   }

picture {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 15px;
}
picture img {
    width: 40px
}
.account  {
    display: flex;
    padding-left: 50px;
}
.info-user p:first-child {
    font-weight: bold;
    color: #cbcbcb;
}
.info-user p:last-child {
    font-size: 10px;
    color: rgb(153, 153, 153);
}
.icon {
    margin-right: 15px;
}
.notification {
    visibility: visible;
    position: absolute;
    opacity: 1;
    right: 26px;
    width: 22px;
    height: 22px;
    line-height: 20px;
    text-align: center;
    border-radius: 50%;
    background-color: var(--primary-color);
    margin-left: 150px;
}
#app {
    position: absolute;
    top: 0;
    right: 0;
    width: calc(100% - 350px);
    height: 100vh;
    
}

/* Browse*/
.browse-container {
    width: 100%;
    height: auto;
    background-color: var(--dark-background);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 3fr auto auto auto;

}
.browse-navbar {
    display: flex;
    margin-top: 20px;
    width: 100%;
    justify-content: space-around;
    height: 60px;
    
}
.browse-nav {
    width: 500px;
}
.browse-navbar input {
    width: 160px;
    height: 40px;
    background-color: var(--dark-background);
    box-shadow: none;
    border: 2px solid var(--primary-color);
    border-radius: 8px;
    justify-content: flex-end;
}
.browse-nav ul{
    display: flex;
   /* background-color: var(--primary-color);
   */
   justify-content: space-around;
   
}
.browse-nav ul li  {
    border: none;
}
.browse-nav ul li:hover  {
    border: none;
}
.browse-nav button {
    font-size: 20px;
    background: none;
    border: none;
    color: #b8b8b8;
    transition: all 0.1s ease-in-out;
    line-height: 40px;
}

.browse-nav button:hover {
    transition: all 0.2s ease-in-out;
    font-weight: bold;
    color: white;
}
.browse-header {
    width: 100%;
    height: 440px;
}
.browse-header picture {
    width: 100%;
    height: 100%;
    position: relative;
}
.browse-header img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    
    
}
.browse-header h2 {
    position: absolute;
    color: #b8b8b8;
    top: 450px;
    font-size: 40px;
    margin-left: 40px;
    font-family: 'Bebas Neue', cursive;;
}

.browse-movies {
    margin-top: 50px;
    display:  flex;
    justify-content: space-evenly;
    position: relative;
}
.browse-movies div {
    min-width: 200px;
    max-width: 280px;
}
.browse-movies div img {
    width: 100%;
}
.browse-movies h3 {
    position: absolute;
    color: #b8b8b8;
    font-size: 22px;
    font-family: 'Open Sans', sans-serif;
    top: -40px;
    left: 20px;
    
}
.browse-series {
    margin-top: 50px;
    display:  flex;
    justify-content: space-evenly;
    position: relative;
}
.browse-series div {
    min-width: 200px;
    max-width: 280px;
}
.browse-series div img {
    width: 100%;
}
.browse-series h3 {
    position: absolute;
    color: #b8b8b8;
    font-size: 22px;
    font-family: 'Open Sans', sans-serif;
    top: -40px;
    left: 20px;
    
}
.browse-games {
    margin-top: 50px;
    display:  flex;
    justify-content: space-evenly;
    position: relative;
    margin-bottom: 60px;
}
.browse-games div {
    min-width: 200px;
    max-width: 280px;
}
.browse-games div img {
    width: 100%;
}
.browse-games h3 {
    position: absolute;
    color: #b8b8b8;
    font-size: 22px;
    font-family: 'Open Sans', sans-serif;
    top: -40px;
    left: 20px;
    
}



/*Settings*/
.settings-container {
    width: 100%;
    min-height: 100vh;
    height: auto;
    background-color: var(--dark-background);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 90px 280px 60px  auto;
}

.settings-container h2 {
    color: var(--light-color);
    font-size: 26px;
    font-family: var(--text-family) ;
    margin-top: 30px;
    margin-left: 30px;
}
.settings-container h3 {
    color: #b8b8b8;
    font-family: var(--text-family);
    font-size: 22px;
    font-weight: 500;
    margin-left: 50px;
    margin-bottom: 20px;
}
.settings-account{
    max-width: 1200px;
    height: auto;
}
.settings-account-info {
    position: relative;
   
}
.settings-account-info ul {
    margin-left: 30px;
    margin-right: 30px;
}
.settings-account-info ul li {
    display: flex;
    

}
.settings-account-info ul li p:nth-child(2){
   position: absolute;
   left: 200px;
   

}
.settings-account-info ul li button{
    position: absolute;
    right: 30px;
    cursor: pointer;
    background: none;
    color: rgb(44, 81, 243);
    font-family: var(--text-family);
    border: none;
}
.settings-suscription{
    width: 80%;
    justify-self: center;
    display: flex;
    justify-content: space-evenly;
}
.settings-suscription p {
    color: var(--dark-background);
}
.suscription-card p:first-child {
    font-size: 28px;
}
.suscription-card p:nth-child(2) {
    font-size: 12px;
    color: rgb(80, 80, 80);
}
.suscription-card p:nth-child(3) {
    font-size: 18px;
    color: rgb(44, 81, 243);
    
}



.settings-suscription div {
    width: 180px;
    height: 110px;
    background-color: #b8b8b8;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}