<div  class="browse-container">
    <div class="browse-navbar">
        <nav class="browse-nav">
            <ul>
            <li><button >Movies</button></li>
            <li><button >Series</button></li>
            <li><button >Games</button></li>
        </ul>
    </nav>
    <input type="text">
    </div>
    <div class="browse-header">
        <picture><img src="../assets/movie header.webp" alt="movie"></picture>
        <h2>AGAINST THE ICE</h2>
    </div>
    <div class="browse-movies">
        <h3>Movies</h3>
     
        <div ><img src="../assets/movie-1.webp" alt=""></div>
        <div ><img src="../assets/movie-2.jpeg" alt=""></div>
        <div ><img src="../assets/movie-3.webp" alt=""></div>

        
    </div>
    <div class="browse-series">
        <h3>Series</h3>
        <div><img src="../assets/serie-1.jpeg" alt=""></div>
        <div><img src="../assets/serie-2.webp" alt=""></div>
        <div><img src="../assets/serie-3.jpeg" alt=""></div>
    </div>
    <div class="browse-games">
        <h3>Games</h3>
        <div><img src="../assets/game-1.jpeg" alt=""></div>
        <div><img src="../assets/game-2.jpeg" alt=""></div>
        <div><img src="../assets/game-3.jpeg" alt=""></div>
    </div>
</div>
