<div class="tv-shows-container">
    <h3 class="title">Games</h3>
    <div class="categories">
        <p>Shooting</p>
        <p>Sports</p>
        <p>Simulators</p>
    </div>
    <div class="comedy images-container">
        <h3>Shooting</h3>
     
        <div ><img src="../assets/movie-1.webp" alt=""></div>
        <div ><img src="../assets/movie-2.jpeg" alt=""></div>
        <div ><img src="../assets/movie-3.webp" alt=""></div>

        
    </div>
    <div class="documental images-container">
        <h3>Sports</h3>
     
        <div ><img src="../assets/movie-1.webp" alt=""></div>
        <div ><img src="../assets/movie-2.jpeg" alt=""></div>
        <div ><img src="../assets/movie-3.webp" alt=""></div>

        
    </div>
    <div class="news images-container">
        <h3>Simulators</h3>
     
        <div ><img src="../assets/movie-1.webp" alt=""></div>
        <div ><img src="../assets/movie-2.jpeg" alt=""></div>
        <div ><img src="../assets/movie-3.webp" alt=""></div>

        
    </div>
</div>