<div class="tv-shows-container">
    <h3 class="title">Movies</h3>
    <div class="categories">
        <p>Horror</p>
        <p>Sci FI</p>
        <p>Action</p>
    </div>
    <div class="comedy images-container">
        <h3>Horror</h3>
     
        <div ><img src="../assets/movie-1.webp" alt=""></div>
        <div ><img src="../assets/movie-2.jpeg" alt=""></div>
        <div ><img src="../assets/movie-3.webp" alt=""></div>

        
    </div>
    <div class="documental images-container">
        <h3>Sci Fi</h3>
     
        <div ><img src="../assets/movie-1.webp" alt=""></div>
        <div ><img src="../assets/movie-2.jpeg" alt=""></div>
        <div ><img src="../assets/movie-3.webp" alt=""></div>

        
    </div>
    <div class="news images-container">
        <h3>Action</h3>
     
        <div ><img src="../assets/movie-1.webp" alt=""></div>
        <div ><img src="../assets/movie-2.jpeg" alt=""></div>
        <div ><img src="../assets/movie-3.webp" alt=""></div>

        
    </div>
</div>