<div id="frame" class="settings-container">
        <h2>Settings</h2>
    <div class="settings-account">
        <h3>Account</h3>
        <div class="settings-account-info">
            <ul>
                <li><p>Name:</p><p  id="info-name">Tim Berners</p><button id="change_name" onclick="changeInfo(this.id)">Change Name</button></li>
                <li><p>Password:</p><p id="info-password">*******</p><button id="change_password" onclick="changeInfo(this.id)">Change Password</button></li>
                <li><p>Email:</p><p id="info-email">tim@hireme.js</p><button id="change_email" onclick="changeInfo(this.id)">Update Email</button></li>
                <li><p>Phone:</p><p id="info-phone">12031989</p><button id="change_phone" onclick="changeInfo(this.id)">Change Phone</button></li>
            </ul>
        </div>
    </div>
    <h3>Suscription</h3>
        <div class="settings-suscription">
            <div class="suscription-card" >
                <p id="prueba12">Basic</p>
                <p>$9.99</p>
                <p>Current</p>
            </div>
            <div  class="suscription-card"id="premium-plan">
                <p>Premium</p>
                <p>$19.99</p>
                <p>Update</p>
            </div>
            <div class="suscription-card" id="ultra-plan">
                <p>Ultra</p>
                <p>$29.99</p>
                <p>Update</p>
            </div>
        </div>
        <div id="modal-info" class="info-modal inactive "></div>
</div>