<div class="settings-container">
        <h2>Settings</h2>
    <div class="settings-account">
        <h3>Account</h3>
        <div class="settings-account-info">
            <ul>
                <li><p>Name:</p><p id="info-name">Tim Berners</p><button>Change Name</button></li>
                <li><p>Password:</p><p id="info-name">*******</p><button>Change Password</button></li>
                <li><p>Email:</p><p id="info-name">tim@hireme.js</p><button>Update Email</button></li>
                <li><p>Phone:</p><p id="info-name">12031989</p><button>Change Phone</button></li>
            </ul>
        </div>
    </div>
    <h3>Suscription</h3>
        <div class="settings-suscription">
            <div class="suscription-card" id="basic-plan">
                <p>Basic</p>
                <p>$9.99</p>
                <p>Current</p>
            </div>
            <div  class="suscription-card"id="premium-plan">
                <p>Premium</p>
                <p>$19.99</p>
                <p>Update</p>
            </div>
            <div class="suscription-card" id="ultra-plan">
                <p>Ultra</p>
                <p>$29.99</p>
                <p>Update</p>
            </div>
        </div>
</div>