<div class="tv-shows-container">
    <h3 class="title">Tv Shows</h3>
    <div class="categories">
        <p>Comedy</p>
        <p>Documental</p>
        <p>News</p>
    </div>
    <div class="comedy images-container">
        <h3>Comedy</h3>
     
        <div ><img src="../assets/movie-1.webp" alt=""></div>
        <div ><img src="../assets/movie-2.jpeg" alt=""></div>
        <div ><img src="../assets/movie-3.webp" alt=""></div>

        
    </div>
    <div class="documental images-container">
        <h3>Documental</h3>
     
        <div ><img src="../assets/movie-1.webp" alt=""></div>
        <div ><img src="../assets/movie-2.jpeg" alt=""></div>
        <div ><img src="../assets/movie-3.webp" alt=""></div>

        
    </div>
    <div class="news images-container">
        <h3>News</h3>
     
        <div ><img src="../assets/movie-1.webp" alt=""></div>
        <div ><img src="../assets/movie-2.jpeg" alt=""></div>
        <div ><img src="../assets/movie-3.webp" alt=""></div>

        
    </div>
</div>